@font-face {
	font-family: Montserrat-Regular;
	src: url(fonts/Montserrat-Regular.ttf);
}

:root{

--corPrincipal:#085e3b;

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat-Regular;
	text-align: justify;
	scroll-behavior: smooth;
	
}
.top {
	--offset: 50px; 
	
	position: sticky;
	bottom: 50px; 
	right: 1vh;
	place-self: end;
	margin-top: calc(100vh + var(--offset)); 
	text-decoration: none;
	padding: 2px;
	color:  var(--corPrincipal);
	white-space: nowrap;
	font-size: 5rem;
  } 
  
body{
	background-image: url('images/background.png');
	background-attachment: fixed;
	backface-visibility: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: var(--corPrincipal);
}

header{	
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--corPrincipal);
    position: sticky;
    width: 100%;
    transition: 0.5s;   
    z-index: 100000; 
    top: 0; 
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.logo{
    background-image: url('images/logo.png');
    background-size: 100px;
	background-repeat: no-repeat;
    width: 150px;
    height: calc(100% + 3rem);
    position: relative; 
    cursor: pointer;
    z-index: 10000000;
}
.menu{
    display: flex;
    list-style: none;
    gap:4.25rem;
}

.menu a{
    display: block;
    padding: .1rem;
    color: white;
}

#btn-celular{
    display: none;
}

.sticky{
background-color: white;
transition: 0.5s;
font-weight: bold;
}

.sticky a{
    color: var(--corPrincipal);
}

.sticky2{
    background-image: url('images/logo.png');
    background-size: 100px;
	background-repeat: no-repeat;
    width: 150px;
    height: calc(100% + 3rem);
    position: relative; 
    z-index: 10000000;
} 


#bem-vindo{
	display: block;
	margin: auto;
	width: 400px;
	padding: 100px 0px;
}
main{ 
	max-width: 1148px;
	min-width: 574px;
    margin: auto;
}

main h1{
	color: var(--corPrincipal);
	font-size: 50px;
	text-align: center;
	padding-top: 15px;
	display: inline-block;
}

main h2{
	color: var(--corPrincipal);
	font-size: 30px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

main p{
	padding: 10px;
}

main li{
	margin-left: 50px;
	padding-bottom: 9px;
}

main h4{
	color: var(--corPrincipal);

}

#divisor{
	height: 5px;
	border: none;
	border-radius: 10px;
	background: linear-gradient(to left, var(--corPrincipal),  #085e3cb4);
	margin: 30px 5px;
}

#iconblock{
	font-size: 30px;
}

#bloco{
	margin-top: 10px;
	font-size: 17px;
}

#blocktitle{
	font-size: 25px;
	text-align: center;
}

#ponto{
color: var(--corPrincipal);
}

#img{  
	border-radius: 10px;
	width: 100%;
	-webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.45);
	box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.45);
}

.container{
	display: flex;
	flex-wrap: wrap;
}

.bloco{ 
	background-color: #085e3cb4;
	display: inline;
	margin: 7px;
	position: relative;
	float: left;
	align-items: center;
	color: white	;
	border-radius: 6px;
	-webkit-box-shadow: 8px 2px 19px -2px rgba(1,46,28,0.46);
	-moz-box-shadow: 8px 2px 19px -2px rgba(1,46,28,0.46);
	box-shadow: 8px 2px 19px -2px rgba(1,46,28,0.46);
	flex: 1 1 260px;
}

.principal{
	display: flex;
	flex-wrap: wrap;  
}

#item{ 
	  flex: 1 350px;  
	  margin-right: 10px; 
}
.barra{

    box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;  
	background: linear-gradient(90deg, rgba(3,68,41,1) 0%, rgba(8,94,59,1) 58%, rgba(11,121,76,1) 90%);
	margin: 50px 0px;
}
 
.quadrado{
	flex: 1 1 250px;  
	color: white;
	align-items: center;
}


#imgquadrado{ 
	border-radius: 10px;
	width: 200px; display: block;
	margin: 0px auto;
	margin-bottom: 5px;
}

.quadrado h4{
	margin-top: 20px;
	text-align: center;
	padding: 10px;
	color: #fff;
}
.quadrado h5{
	text-align: center;
	padding-top: -10px;
	padding-bottom: 30px;
	color: #fff;
}

.footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;  
	background-color: var(--corPrincipal);
	padding: 10px;
	margin-top: 10px;
}

.footerSobre{
flex: 1 350px;
padding: 10px 5px;
}

.footer h3{
padding-top: 20px;
padding-left: 40px;
padding-bottom: 30px;
color: white;
}

.footer hr{
opacity: 0;
}

#pfooter{
display: inline;
font-size: 15px;
font-weight: bold;

}

#iconfooter{
	color: #fff;
	margin:0px 5px 0px 15px;
}
 
  @media only screen and (max-width: 600px){ 
	
	#bem-vindo{  
	width: 400px;
	margin-left: 25%;
	}
	#header{
		height: 100px;
		max-width: 1148px;
		min-width: 574px; 
	}
    .menu{
       display: block;
       position: absolute;
       width: 100%;
       top: 100px;
       right: 0px;
       background-color: var(--corPrincipal);
       color: white; 
       height: 0;
       z-index: 1000;
       transition: .6s;
       visibility: hidden;
       overflow-y: hidden;
	   
		max-width: 1148px;
		min-width: 574px;
    }

    #nav.active .menu{
        visibility: visible;
        height: calc(100vh + 100vh);
        overflow-y: auto;
    }

    .menu a{
		font-size: 1.7rem;
        padding: 1rem 0;
        margin: 0 1rem;
        color: white;
        border-bottom: 2px solid #077e4e ;
        text-align: center;
    }

    .menu a:hover{
        background-color: #077e4e;
    }

    #btn-celular{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        background: none;
        cursor: pointer;
        border: none;
        color: rgb(255, 255, 255);
        gap: .5rem;
    }

    #btn-celular.sticky3{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        background: none;
        cursor: pointer;
        border: none;
        color: var(--corPrincipal);
        gap: .5rem;
        font-weight: bold;
    }

    #icon-menu{
        border-bottom: 2px solid;
        width: 20px;
        color: white;
    }
    #icon-menu.sticky4{
        border-bottom: 2px solid;
        width: 20px;
        color: var(--cor02)
    }
    #icon-menu::after, #icon-menu::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin: 5px 0px 5px 0px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }
    
    #nav.active #icon-menu{
        border-color: transparent; 
    }

    #nav.active #icon-menu::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    #nav.active #icon-menu::before{
        transform: rotate(135deg);
    }

	
.logo{
    background-image: url('images/logo.png');
    background-size: 100px;
	background-repeat: no-repeat;
    width: 150px;
    height: calc(100% + 2rem);
    position: relative; 
    cursor: pointer;
    z-index: 10000000;
}
 
	.container{
		display: block;
		margin: 0;
	}
	.bloco{
		width: 97%;
		margin-bottom: 5px;
	}
	#bloco{
		margin-top: 10px;
		font-size: 1.5rem;
	}
	
	#blocktitle{
		font-size: 2rem;
	}
	.barra{ 
		width: 100%;
		display: block;
		background: linear-gradient(90deg, rgba(3,68,41,1) 0%, rgba(8,94,59,1) 58%, rgba(11,121,76,1) 90%);
		margin: 10px 0px;
		max-width: 1148px;
		min-width: 574px;
	}
	.quadrado{ 
		display: block;
		height: 100%;
		color: white;
		align-items: center;
		width: 100%;
	}
	.quadrado h4{ 
		text-align: center; 
		color: #fff;
		font-size: 1.8rem;
	}
	.quadrado h5{
		text-align: center;  
		font-size: 1.6rem;
	}
	#imgquadrado{ 
		border-radius: 10px;
		width: 300px;
		height: 200px;
	}
	#iconblock{
		font-size: 2rem;
	} 
	#topo{
		position: fixed;
		bottom: 50px;
		right: 50px;
		font-size: 100px;
		color: var(--corPrincipal);
		cursor: pointer;
		z-index: 100000;
		text-decoration: none;
	} 
	
	main h1{
		color: var(--corPrincipal);
		font-size: 80px;
		text-align: center;
		padding-top: 15px;
		display: inline-block;
	}

	main h2{
		color: var(--corPrincipal);
		font-size: 2.4rem;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	main p{
		padding: 10px;
		font-size: 1.4rem;
	}

	main li{
		margin-left: 50px;
		padding-bottom: 9px;
		font-size: 1.4rem;
	}


	main h4{
		color: var(--corPrincipal);
	}

	.principal h4{
		font-size: 1.5rem;
	}

	.footer{  
		background-color: var(--corPrincipal);
		width: 100%;
		max-width: 1148px;
		min-width: 574px;
	}

	.footerSobre{
		width: 50%;
	}
	.footerSobre a{
		font-size: 1.5rem;
		padding: 5px ;
		width: 50%;
	}

	.footer p{
		font-size: 1.5rem;
		padding: 5px ;
	}
	.footer h3{
	padding-top: 30px;
	padding-left: 40px;
	padding-bottom: 30px;
	color: white;
	font-size: 2rem;
	}

	.footer hr{
	margin:30px 10px;
	background-color: #077448ef;
	}

	#pfooter{
	display: inline;
	font-size: 1.2rem;
	font-weight: bold;

	}

	#iconfooter{
		color: #fff;
		margin:0px 5px 0px 15px;
	}
	main li{
		margin: 0px 10px 3px 50px;  
	}
	hr{
		visibility: 1;
		opacity: 1;
	}

  }  
.cont{
	display: flex;
	justify-content: center;
	align-items: center; 	
	flex-wrap: wrap;
	max-width: 1148px;
	min-width: 574px;
    margin: auto;
  }
h2,h4{ 
	color: var(--corPrincipal);
	font-size: 30px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 0px;  
 }
  .nv-partida{ 
	width: 500px;
	height: 400px;
	background-color: #cbd1cf50; 
	margin: 10px;
	border-radius: 20px;
	flex: 1 1 400px;
  }

  input{
	width: 250px;
	height: 40px;
	border-radius: 10px;
	border-color: #fff; 
	background-color: #ffffff00;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	font-size: 1.2rem;
	text-align: center;
	backdrop-filter: blur(9.2px);
	-webkit-backdrop-filter: blur(9.2px);
  }

  input::placeholder{
	font-size: 1.2rem;
	color: #756767c2;;
  }
  input:focus{
	border-color: #077e4e;
  }

  #jogadores{
	width: 40px;
	height: 100%;
	border-radius:10px ;
	position: relative;
	left: 0;
	padding: 0;
	margin: 0;
	display: inline;
	margin-right: 5px;
  }
 #cx-input{
	width: 250px;
	height: 40px;
	border: solid 2.8px;
	border-radius: 10px;
	border-color: #fff; 
	background-color: #ffffff00;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	border-style: inset;
	padding: 0;
}
 
#cx-input{
	font-size: 1.2rem;
	color: #756767c2;;

}

button{ 
	background-color: rgba(255, 255, 255, 0.185);
	padding: 10px 30px;
	color: var(--corPrincipal);
	font-size: 1rem;
	font-weight: bold;
	border-color: white;
	border-radius: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.4rem;
	cursor: pointer;
}

button:hover{  
	background-color: #077e4e;
	color: #fff
}

.agenda{
	display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 500px;
	background-color: #077448ef;
	border-radius: 50px;
}
 .cabecalhos{ 
	width: 100%; 
	padding: 5px;
 }

h5{
	color: #fff;
	font-size: 1.5rem; 
	text-align: center;
}

.conteudo-agenda{
	display: flex;  
	margin-left: auto;
	margin-right: auto;
	width: 90%; 
	height: 90%;
	justify-content: space-between;
}
.tabela-agenda{ 
	border-right: solid .1px;
	border-bottom: solid .1px;
	border-top: solid .1px;
	border-color: #048b55;
	width: 15%;
}
#data{
	border-left: solid .1px;
	border-color: #048b55;
}
#cebacalho-tabela-agenda{
	border-bottom: solid .1px;
	border-color: #048b55;
	color: #fff;
	text-align: center;
	background-color: #03814f;
	margin-left: auto;
	margin-right: auto;
	display: block; 
	padding: 5px;
}

.conteudo-estoque{
	display: flex;  
	margin-left: auto;
	margin-right: auto;
	width: 90%; 
	height: 90%;
	justify-content: space-between;
}
.tabela-estoque{ 
	border-right: solid .1px;
	border-bottom: solid .1px;
	border-top: solid .1px;
	border-color: #048b55;
	width: 33.333%;
}
#data{
	border-left: solid .1px;
	border-color: #048b55;
}
#cebacalho-tabela-estoque{
	border-bottom: solid .1px;
	border-color: #048b55;
	color: #fff;
	text-align: center;
	background-color: #03814f;
	margin-left: auto;
	margin-right: auto;
	display: block; 
	padding: 5px;
}

.estoque{
	display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 500px;
	background-color: #64696711;
	border-radius: 50px;
}

#h5{
	color: #03814f;
}
.quadra{
	display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 650px;
	background-color: #64696711;
	border-radius: 50px;
} 

.imga-quadra{
	background-image: url('images/quadra.png');
	background-repeat: no-repeat;
	background-size: 100%;  
	height: 100%;  
	width: 70%;
	display: block; 
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 1rem;
}

#info-quadra{ 
	width: 650px;
	height: 350px;
	border-radius: 50px;
	background-color: rgba(221, 247, 237, 0.863);  
	position: absolute;
	top: 43%;
	left: 50%;
	transform: translate(-50%, -50%); 
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
}

#info-quadra h1{
	color: #03814f;
	text-align: center;
	margin: 45px 0px;
	font-size: 3rem;
	font-weight: bold;
}


#info-quadra p{
	color: #03814f;
	text-align: center;
	margin: 15px;
	font-size: 1.6rem;
}


#info-quadra h3{
	color: #03814f;
	text-align: center;
	margin: 15px;
	font-size: 2.2rem;
}