@font-face {
	font-family: Montserrat-Regular;
	src: url(fonts/Montserrat-Regular.ttf);
}
@-webkit-keyframes focus-in-expand-fwd {
	0% {
	  letter-spacing: -0.5em;
	  -webkit-transform: translateZ(-800px);
			  transform: translateZ(-800px);
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
  }
  @keyframes focus-in-expand-fwd {
	0% {
	  letter-spacing: -0.5em;
	  -webkit-transform: translateZ(-800px);
			  transform: translateZ(-800px);
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
  }

  @-webkit-keyframes scale-in-hor-left {
	0% {
	  -webkit-transform: scaleX(0);
			  transform: scaleX(0);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleX(1);
			  transform: scaleX(1);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	  opacity: 1;
	}
  }
  @keyframes scale-in-hor-left {
	0% {
	  -webkit-transform: scaleX(0);
			  transform: scaleX(0);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleX(1);
			  transform: scaleX(1);
	  -webkit-transform-origin: 0% 0%;
			  transform-origin: 0% 0%;
	  opacity: 1;
	}
  }
  
.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-hor-left {
	-webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	        animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}

:root{

--corPrincipal:#085e3b;

}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat-Regular;
	text-align: justify;
}
body{
	background-image: url('images/background.png');
	background-attachment: fixed;
backface-visibility: hidden;
}
header{
	padding: 10px;
	background-color: var(--corPrincipal);
	display: flex;
	height: 11.5vh;
}

.slogan{
	height: 11.5vh;
	font-size: 150%;
	position: absolute;
	width: 100%;
	color: #fff;
	text-align: center;
	margin-top: 5.25vh;
}

.logo{
	width: 50%;
}

.logo img{
	width: 16vh;
	position: relative;
	top: -35%;
}

.menu{
	position: absolute;
	width: 250px;
	right:  1px;
	top: 11.5%;
	background-color:#0e8354;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
border-radius: 10px;
background: linear-gradient(315deg, #0d764c, #0f8c5a);
box-shadow:  -1px -1px 1px #0f8c5a,
             7px 7px 14px #9af1cf;
}

.show{
	height: 190px;
	opacity: 1;
	transition: 0.6s;
}

.show a{
	opacity: 1;
	transition: 1.6s;
}

.hide{
	height:  0px;
	transition: 0.6s;
}

.hide a{
	opacity: 0;
	transition: 0.1s;
}

.menu a{
	display: inline-block;
	padding: 10px 0px;
	text-decoration: none;
	font-size: 23px;
	color: white;
	width: 200px;
	text-align: center;
}

.menu a:hover{
	text-decoration: underline;
}

.icon-menu{
	width: 50%;
	text-align: right;
}

.icon-menu svg{
	cursor: pointer;
	font-size: 30px;
	color: white; 
	margin: 15px 15px;
	height: 5vh;
}

main{
	min-width: 450px;
    max-width: 1150px;
    margin: auto;
}

main h1{
	color: var(--corPrincipal);
	font-size: 50px;
	text-align: center;
	padding-top: 15px;
	display: inline-block;
}

main h2{
	color: var(--corPrincipal);
	font-size: 30px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

main p{
	padding: 10px;
}

main li{
	margin-left: 50px;
	padding-bottom: 9px;
}

main img{
	display: block;
	margin: 0px auto;
	width: 158vh;
}

main h4{
	color: var(--corPrincipal);

}

#iconblock{
	font-size: 30px;
}

#bloco{
	margin-top: 10px;
	font-size: 17px;
}

#blocktitle{
	font-size: 25px;
	text-align: center;
}

#ponto{
color: var(--corPrincipal);
}

#lerMais{
	position: absolute;
	bottom: 15px;
	font-size: 16px;
	color: #a0c7b7;
	padding-left: 10px;
	text-decoration: none;
}

#img{ 
	display: block;
	margin: 0px auto;
	padding: 50px;
}

.bloco{
	width: 37vh;
	height: 60vh;
	background-color: #085e3cb4;
	display: inline;
	position: relative;
	float: left;
	margin: 15px;
	align-items: center;
	padding: 10px;
	color: white	;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow:  11px 11px 43px #085e3cb4,
				 -11px -11px 43px #ffffff;
}

.principal{
	width: 100%;
	height: 63vh;
	margin: 20px 0px;
}

.barra{
	height: 50vh;
	background: rgb(3,68,41);
	background: linear-gradient(90deg, rgba(3,68,41,1) 0%, rgba(8,94,59,1) 58%, rgba(11,121,76,1) 90%);
	margin: 50px 0px;
}
 
.quadrado{
	display: inline;
	float: left;
	width: 25%;
	height: 100%;
	color: white;
	align-items: center;
}

.quadrado img{
	padding-top: 3vh;
	width: 40vh;	
	display: block;
	margin: 0px auto;
}

#imgquadrado{ 
	border-radius: 10px;
	width: 46vh;
}

.quadrado h4{
	margin-top: 20px;
	text-align: center;
	padding: 10px;
}
.quadrado h5{
	text-align: center;
	padding-top: -10px;
	padding-bottom: 30px;
}
#blocoimagem{
	position: relative;
	float: left;
	width: 65%;
	height: 100%;
}

#blocoimagem img{
	width: 110vh;
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow:  11px 11px 43px #989898,
				 -11px -11px 43px #ffffff;
				 
}

#blocotexto{
	position: relative;
	float: left;
	width: 35%;
	height: 100%;
	padding: 0px 25px;
}

footer{
	background-color: var(--corPrincipal);
	width: 100%;
	height: 40vh;
	position: relative;
	display: block;
	float: left;
	text-align: justify;
	color: #ffffff;
	opacity: 0.9;
	padding-left: 210px;
}

.footerSobre{
	height: 100%;
	width: 50%;
	float: left;
	padding: 0px 50px;
	font-size: 15px;
}

.footerContato{
	height: 100%;
	width: 32%;
	float: left;
	padding: 5px 30px;
}

#imgfooter{
	height: 100%;
	position: absolute;
	left: 0px;
	z-index: -1;
}
#imgfooter2{
	height: 100%;
	position: absolute;
	right: 0px;
	z-index: -1;
}

footer h3{
padding-top: 30px;
padding-left: 40px;
padding-bottom: 30px;
color: white;
}

footer hr{
margin: 10px;
background-color: #085e3cd8;
}

#pfooter{
display: inline;
font-size: 15px;
font-weight: bold;

}

#iconfooter{
	color: #fff;
	margin-right: 5px;
}

[data-anime] {
	opacity: 0;
	transition: .3s;
  }
  
  [data-anime="left"] {
	transform: translate3d(-50px, 0, 100px);
  }
  
  [data-anime="right"] {
	transform: translate3d(50px, 0, 0);
  }
  
  [data-anime="top"] {
	transform: translate3d(0, -50px, 0);
  }  

  [data-anime="down"] {
	transform: translate3d(0, 100px, 0);
  }
  
  [data-anime].animate {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
  }
  